[submodule "tests/Catch2"]
	path = tests/Catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "external/thread-pool"]
	path = external/thread-pool
	url = git@github.com:bshoshany/thread-pool.git
[submodule "external/coal"]
	path = external/coal
	url = https://github.com/coal-library/coal.git
